.tax-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tax-form__label {
  text-align: start;
}

.income-input__currency-icon {
  position: relative;

  &::before {
    content: '$';
    font-weight: bold;
    margin-left: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.loading-message {
  text-align: start;
}
