.app {
  width: 100%;
  max-width: 480px;
  padding: 2rem;
  text-align: center;

  @media (min-width: 768px) {
    max-width: 880px;
  }
}

.app-header {
  margin-bottom: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  > * {
    flex: 1;
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
